{% extends 'base_login.html' %}


{% block title %}Login{% endblock %}


{% block info %}Login{% endblock %}

{% block create_account %}
    <form action="#" method="post">
        <p style="color: rgba(255, 255, 255, .95); text-shadow: 1.5px 1.5px black;">New Username:&emsp;<input type="text" name="new" value="" /></p>
        <p><input type="submit" class="btn btn-light" value="create" /></p>
    </form>
    {% if flash %}
        <p style="color: rgba(84, 216, 226, .95);"><b>{{ flash }}</b></p>
    {% endif %}
{% endblock %}